<h2 class="text-center mt-5">Sign up</h2>

<div class="row">
  <div class="col-md-4 offset-md-4 col-12">
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.text_field :username, wrapper: { class: 'field mt-5', data: {}} %>
    <%= f.password_field :password, wrapper: { class: 'field mt-3', data: {}}, label: "Password (6 characters minimum)" %>
    <%= f.password_field :password_confirmation, wrapper_class: "field mt-3" %>
    <%= f.submit "Sign up", class: 'actions mt-3 btn btn-primary' %>
    <% end %>
    <div class="mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


