<div class="row text-center">
  <% if @user %>
    <h1>Hello <%= @user.username %></h1>
    <% @user.photos.each do |pic| %>
      <% if   pic.image.attached? %>
        <%= image_tag pic.image.variant(resize_to_fill: [200, 200, { gravity: 'North' }]), style: 'height: 100%;width: auto;' %>
        <p><%= pic.description %></p>
      <% end %>
    <% end %>
  <% else %>
    <div class="col-md-4 d-none d-sm-none d-md-block">
      <% (1..24).each do |row|%>
        <div class="row">
          <%= render layout: 'home/row', locals: {row: row, photos: @photos} do %><% end %>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-md-4">
      <h1 class="mt-5">Welcome</h1>
      <div class="row mt-5">
        <div class="col-5">
          <p>Have an account?</p>
          <%= link_to('Sign in', new_user_session_path, class: "btn btn-primary") %>
        </div>
        <div class="col-2">
          <p>or</p>
        </div>
        <div class="col-5">
          <p>Don't have an account?</p>
          <%= link_to('Sign up', new_user_registration_path, class: "btn btn-primary") %>
        </div>
      </div>
    </div>
  <% end %>
</div>