<div class="row text-center">
  <% if @user %>
    <h1 class="mt-5">PhotoBook</h1>
    <div class='col-md-6 offset-md-3 col-12 mt-5  '>
      <div class="row">
        <% @photos.each do |pic| %>
          <% if pic.image.attached? %>
            <div class='col-4 p-0 p-0 p-md-1 mb-5'>
              <%= link_to(image_tag(pic.image, style: 'width: 100%;'), photo_show_path(pic)) %>
              <%= link_to '@' + pic.user.username.capitalize, user_show_path(pic.user), class: "mt-1 text-secondary" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="col-md-4 d-none d-sm-none d-md-block">
      <% (1..24).each do |row|%>
        <div class="row">
          <%= render layout: 'home/row', locals: {row: row, photos: @photos} do %><% end %>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-md-4">
      <h1 class="mt-5">Welcome</h1>
      <div class="row mt-5">
        <div class="col-5">
          <p>Have an account?</p>
          <%= link_to('Sign in', new_user_session_path, class: "btn btn-primary") %>
        </div>
        <div class="col-2">
          <p>or</p>
        </div>
        <div class="col-5">
          <p>Don't have an account?</p>
          <%= link_to('Sign up', new_user_registration_path, class: "btn btn-primary") %>
        </div>
      </div>
    </div>
  <% end %>
</div>